<!-- student-dialog.component.html -->
<mat-card>
  <mat-card-title>{{ isEditing ? 'Edit Student' : 'Register New Student' }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="studentForm" (ngSubmit)="onSave()">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="studentForm.get('firstName')?.hasError('required')">
          First Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="studentForm.get('lastName')?.hasError('required')">
          Last Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="studentForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="studentForm.get('email')?.hasError('email')">
          Invalid email
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        {{ isEditing ? 'Save' : 'Register' }}
      </button>
      <!-- TODO add delete functionality -->
      <!-- <button mat-raised-button color="warn" *ngIf="isEditing" (click)="deleteStudent()">
        Delete
      </button> -->
    </form>
  </mat-card-content>
</mat-card>