<mat-tab-group>
    <!-- FIRST TAB FOR COURSES -->
    <mat-tab label="Courses">
        <mat-card>
            <mat-card-title>Course List</mat-card-title>
            <button class="add-course-btn" mat-button (click)="openCourseDialog()">
                <mat-icon>add</mat-icon> Add New Course
            </button>
            <mat-card-content>
                <table mat-table [dataSource]="courses" class="mat-elevation-z8">
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let course"> {{ course.title | uppercaseTitle }} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let course"> {{ course.description }} </td>
                    </ng-container>
                    <ng-container matColumnDef="students">
                        <th mat-header-cell *matHeaderCellDef> Students </th>
                        <td mat-cell *matCellDef="let course"> {{ getStudentNames(course.students) }} </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let course">
                            <button mat-button (click)="editCourse(course)">Edit</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Classes">
        <mat-card>
            <mat-card-title>Class List</mat-card-title>
            <button class="add-course-btn" mat-button (click)="openCourseDialog()">
                <mat-icon>add</mat-icon> Add New Class
            </button>
            <mat-card-content>
                <table mat-table [dataSource]="courses" class="mat-elevation-z8">
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let course"> {{ course.title | uppercaseTitle }} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let course"> {{ course.description }} </td>
                    </ng-container>
                    <ng-container matColumnDef="students">
                        <th mat-header-cell *matHeaderCellDef> Students </th>
                        <td mat-cell *matCellDef="let course"> {{ getStudentNames(course.students) }} </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let course">
                            <button mat-button (click)="editCourse(course)">Edit</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </mat-tab>

</mat-tab-group>